/* Estilos Globais */
body {
  background-color: #212121;
  color: #FFFFFF;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o Header e Footer */
header, footer {
  background-color: #171717;
  color: #FFFFFF;
}

/* Estilos para Cabeçalhos */
h1, h2, h3, h4 {
  font-family: 'Helvetica', sans-serif;
  color: #FFFFFF;
}

/* Estilos para Links */
a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Estilos para Imagens */
img {
  max-width: 100%;
  border: none;
  height: auto;
}

/* Estilos para Seções */
section {
  padding: 20px;
  margin-bottom: 30px;
  background-color: #212121;
}

/* Estilos Específicos para a Logo de Contato */
.contact-logo {
  width: 50px;
  margin-bottom: 10px;
}

/* Estilos para a Área de Informações de Contato */
.contact-info {
  text-align: center;
  color: #FFFFFF;
}

.contact-info a {
  color: #FFFFFF;
  text-decoration: none;
}

.contact-info a:hover {
  opacity: 0.8;
}

/* Estilos para o Texto em Parágrafos e Listas */
p, ul {
  color: #CCCCCC;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Estilos para Textos Fortes e Enfáticos */
strong {
  color: #FFFFFF;
  font-weight: bold;
}

em {
  color: #AAAAAA;
  font-style: italic;
}

/* Estilos Específicos para a Seção de Contato */
.contact-section {
  text-align: center;
  padding: 40px 20px;
  background-color: #212121;
  color: #FFFFFF;
}

.contact-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-section p {
  margin-bottom: 40px;
}

/* Estilos para o Grid de Contatos */
.contact-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-item {
  text-align: center;
  flex-basis: 350px;
}

.contact-logo {
  width: 100px;
  margin-bottom: 10px;
}

.contact-item a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1rem;
}

.contact-item a:hover {
  opacity: 0.8;
}

/* Media Queries (Responsividade para telas menores) */
@media (max-width: 768px) {
  header nav ul {
      flex-direction: column;
      gap: 10px;
  }

  section {
      flex-direction: column;
      text-align: center;
  }

  section div {
      margin-bottom: 20px;
  }

  .contact-grid {
      flex-direction: column;
      align-items: center;
  }

  .project-card {
      flex-basis: 100%;
  }
}

/* Ajustes para a página de Iniciação Científica */
.iniciacao-cientifica-page {
  padding: 50px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #1F1F1F;
  color: #FFFFFF;
}

.iniciacao-cientifica-page h1, .iniciacao-cientifica-page h2 {
  color: #00B0FF;
  font-weight: bold;
  margin-bottom: 20px;
}

.iniciacao-cientifica-page h2 {
  margin-top: 40px;
}

.iniciacao-cientifica-page p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 20px;
  color: #D1D1D1;
}

.iniciacao-cientifica-page hr {
  border: none;
  border-top: 1px solid #555;
  margin: 40px 0;
}

.iniciacao-cientifica-page .content-box {
  background-color: #292929;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.iniciacao-cientifica-page .section {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .iniciacao-cientifica-page {
      padding: 20px;
  }

  .iniciacao-cientifica-page h1 {
      font-size: 2rem;
  }

  .iniciacao-cientifica-page p {
      font-size: 1rem;
  }
}
