<div class="contact-grid">
  
    <!-- Contato por Email -->
    <div class="contact-item">
      <img src="/images/email_branco.png" alt="Email logo" class="contact-logo">
      <p><strong>Email estudantil</strong>: <a href="mailto:gustavoloioladossantos@usp.br">gustavoloioladossantos@usp.br</a></p>
    </div>
  
    <!-- Contato LinkedIn -->
    <div class="contact-item">
      <img src="/images/linkedin_logo.jpeg" alt="LinkedIn logo" class="contact-logo">
      <p><strong>LinkedIn</strong>: <a href="https://linkedin.com/in/gustavo-loiola" target="_blank">linkedin.com/in/gustavo-loiola</a></p>
    </div>
  
    <!-- Contato por Telefone -->
    <div class="contact-item">
      <img src="/images/celular_branco.png" alt="Phone logo" class="contact-logo">
      <p><strong>Telefone</strong>: +55 (11) 97673-3563</p>
    </div>
  
  </div>
  