<header style="background-color: #171717; color: #FFFFFF; padding: 10px 20px;">
    <nav style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <a href="/" style="color: #FFFFFF; font-size: 1.5rem;">Atividade Lab3 PMR3304 - Portfólio Pessoal</a>
      </div>
      <ul style="list-style: none; display: flex; gap: 20px;">
        <li><a href="/about/" style="color: #FFFFFF;">Sobre</a></li>
        <li><a href="/projects/" style="color: #FFFFFF;">Projetos</a></li>
        <li><a href="/contact/" style="color: #FFFFFF;">Contato</a></li>
      </ul>
    </nav>
  </header>
  